BasedOnStyle:  Google
IndentWidth:     2
TabWidth:        2
ContinuationIndentWidth: 4
AccessModifierOffset: -1
AllowAllParametersOfDeclarationOnNextLine: true
IncludeBlocks: Preserve
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
SpaceBeforeCpp11BracedList: True
ColumnLimit: 110
AlignArrayOfStructures: Right
NamespaceIndentation: Inner
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
