__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.hypothesis/
benchmark/chart*/
benchmark/results_backup*/
benchmark/results/
ci_results/
ci_results_*/
test_results/
weekly_results_*/
weekly_results_ci/
weekly_tests/__pycache__/
weekly_benchmark/__pycache__/
tools/__pycache__/
src/flagtensor.egg-info/
weekly_op_test.txt
*.html
!docs/**/*.html
